<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.notas_electro">

    <!-- cambiar o borrar contenido de almacenamiento compartido -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <!-- BIND_DEVICE_ADMIN -->
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN"
        tools:ignore="ProtectedPermissions" />

    <!-- Utilizar hardware de huellas dactilares -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <!-- usar hardware biométrico -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <!-- permitir acceso completo a la red -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true"
        >

        <activity
            android:name=".MainActivity"
            android:exported="true"
            >

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".AddNota"
            android:label="Añadir Nota"/>

        <activity android:name=".EditNota"/>

        <activity
            android:name=".NotasPrivadas"
            android:label="NotasPrivadas"/>

        <activity
            android:name=".ViewNota"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".testConstrainL"/>

        <activity android:name=".SettingsApp"/>

    </application>
</manifest>